<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking Vendedores</title>
</head>
<body>
    <div class="col-lg-12">

<div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><span>Cadastro de Cliente</span></li>
            </ol>
            <h1>Cadastrar Cliente</h1>
        </div>
</div>

<div class="row">
<div class="col-lg-12">
<div class="main-box">
<header class="main-box-header clearfix">
    <h2>Digite o número de tefone do cliente para verificação</h2> 	
</header>

<div class="main-box-body clearfix">    
<form name="pesquisar_fone" method="post" action="">
<div class="form-group col-md-8 has-warning">
    
<div class="input-group-lg col-lg-2">
    <input type="text" name="ddd" class="form-control" id="ddd" maxlength="2" value="" onkeyup="dddFone();">
</div>

<div class="input-group-lg col-lg-5" id="fonediv">
    <input type="text" class="form-control" name="foneddd" id="foneddd" disabled="">
</div>

<button type="submit" class="btn btn-success" name="acao_pesquisar" value="ENVIAR">ANALISAR</button>
</div>
</form>
</div>

</div>
</div>

<div class="row"></div>

</div>
</div>
</body>
</html>